answers-and-exams/**
www/SEA/index.html
www/SEA/labs/
www/SEA/lectures/

*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
labs/MP1.html
labs/MP2.html
labs/MP2.md
labs/T1.html
labs/T2.html
labs/T3.html
labs/T4.html
labs/T5.html
labs/T6.html
labs/T7.html
labs/T8.html
lectures/1-introduction/_minted-1-introduction/
lectures/1-introduction/os.tex
lectures/2-processus/_minted-2-processus/
lectures/2-processus/minish
lectures/2-processus/pcb.tex
lectures/2-processus/pipesh
lectures/2-processus/redirsh
lectures/2-processus/stkframe.tex
lectures/2-processus/switch1.tex
lectures/2-processus/switch2.tex
lectures/2-processus/switch3.tex
lectures/2-processus/switch4.tex
lectures/2-processus/switch5.tex
lectures/3-linker/unix-proc.tex
lectures/4-concurrence/stkframe.tex
lectures/5-ordo/5-ordo.ps
lectures/5-ordo/5-ordo.tex
lectures/6-ordoTR/6-ordoTR.ps
lectures/6-ordoTR/6-ordoTR.tex
lectures/7-memvirt/as.tex
lectures/7-memvirt/bsdvm.tex
lectures/7-memvirt/long.tex
lectures/7-memvirt/paging.tex
lectures/7-memvirt/pde.tex
lectures/7-memvirt/pintos-vm.tex
lectures/7-memvirt/pte.tex
lectures/7-memvirt/vm.tex
lectures/7-memvirt/x86-pal.tex
lectures/7-memvirt/x86.tex
